<h1 class="mb-3">Categories</h1>

<% @categories.each do |category| %>
<div class="card mb-1">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <%= image_tag(category.icon, alt: "Icon pic", height: "40px") %>
        </div>
        <div class="col">
          <%= link_to category.name, category_path(category) %>
        </div>
        <div class="col">
          $<%= category.expenses.sum(:amount) %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%= link_to "Add new category", new_category_path, class: "btn btn-success mt-3" %>